@{
    string option = ViewBag.filtro;

    switch (option)
    {
        case "slc_caja":
            <option value=""></option>
            foreach (var item in ViewBag.option)
            {
                <option value="@item.cjm_id">@item.cjm_nombre</option>
            }
            break;
        case "slc_bodega":
            <option value=""></option>
            foreach (var item in ViewBag.option)
            {
                <option value="@item.id">@item.bodccs_nombre</option>
            }
            break;
    }
}