@model Homer_MVC.Models.PdfOrdenTaller  
@using System.Globalization;

@{
    Layout = null;
    CultureInfo elGR = CultureInfo.CreateSpecificCulture("is-IS");
}

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Retiro Interno</title>

    <style type="text/css">

        table, tr, td {
            border-collapse: collapse;
            border: 1px solid #ccc;
            padding-left: 5px;
        }
    </style>

</head>
<body>
    <table style="width:100%">
        <tr>
            <th style="width:25%"><img src="@Server.MapPath("~/Images/LogoCaminos.jpg")" style="width:80%" /></th>
            <th style="text-align:left; width:50%" colspan="2">
                <p>
                    COMERCIALIZADORA HOMAZ S.A.S NIT 816.003.186-5<br />
                    VITRINA DE NUEVOS<br />
                    Av. Bolivar 23N 46 PBX. 7314090<br />
                    www.camino.com.co<br />
                    caminos@caminos.com.co
                </p>
            </th>
            <td>
                <strong>Orden de Trabajo No.</strong>  @Model.codigoentrada <br />
                <strong>Fecha:</strong> @Model.fecha_generacion <br />
                <strong>Placa:</strong> @Model.placa <br />
            </td>


        </tr>
        <tr>
            <th colspan="4" style="text-align:center; background-color:#D8D8D8">ORDEN DE TALLER</th>
        </tr>
    </table>
</body>
</html>
