@using System.Globalization;

@{
    Layout = null;
    CultureInfo elGR = CultureInfo.CreateSpecificCulture("es-CO");
}

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Cotización</title>

    <style type="text/css">

        table, tr, td {
            border-collapse: collapse;
            border: 1px solid #ccc;
            padding-left: 5px;
        }

        body {
            font-size: 10px;
        }
    </style>

</head>
<body>
   <p>&nbsp;</p>
</body>
</html>
