<footer class="footer" style="position:fixed">
    <span class="pull-right">
        Exiware
    </span>
    Copyright @DateTime.Now.Year
</footer>



<script type="text/javascript">

    $(document).ready(function () {
        //setInterval(mantenerConexion, 10000);

        $('form select').each(function (i) {
            this.addEventListener('invalid', function (e) {
                var _s2Id = 's2id_' + e.target.id; //s2 autosuggest html ul li element id
                var _posS2 = $('#' + _s2Id).position();
                //get the current position of respective select2
                $('#' + _s2Id + ' ul').addClass('_invalid'); //add this class with border:1px solid red;
                //this will reposition the hidden select2 just behind the actual select2 autosuggest field with z-index = -1
                $('#' + e.target.id).attr('style', 'display:block !important;position:absolute;z-index:-1;top:' + (0 - $('#' + _s2Id).outerHeight() + 30) + 'px;left:' + (15 - ($('#' + _s2Id).width() / 10)) + 'px;');
                /*
                //Adjust the left and top position accordingly
                */
                //remove invalid class after 3 seconds
                setTimeout(function () {
                    $('#' + _s2Id + ' ul').removeClass('_invalid');
                }, 3000);
                return true;
            }, false);
        });

    });


    //function mantenerConexion(){

    //        $.ajax({
    //            url: '/Inicio/MantenerConexion',
    //            data: {
    //            },
    //            type: "post",
    //            cache: false,
    //            success: function (data) {
                    
    //            }
    //        })
    //    }


</script>




