@{
    ViewBag.Title = "Checl List Entregas";
    Layout = null;
}

<link href="@Server.MapPath("~/Vendor/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" />
<link href="@Server.MapPath("~/Content/style.css")" rel="stylesheet" />

<style type="text/css">
    th {
        border: 1px solid;
    }

    td {
        border: 1px solid;
    }

    h6 {
        font-size: 10px;
    }

    .Rotate-90 {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transform-origin: 40% 70%;
        -moz-transform-origin: 10% 50%;
        -ms-transform-origin: 10% 50%;
        -o-transform-origin: 10% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        font-size: 13px;
        /*width: 80px;
          height: 180px;*/
        position: relative;
        top: 0px;
        text-align: center;
        padding-left: 0;
    }
</style>

@using (Html.BeginForm("checkEntregas", "checkListEntregas", FormMethod.Post))
{
    <div class="panel-body">
        <div class="form-horizontal">
            <div style="position:absolute; width:95%; padding-top:20px;">
                <div style="float:left; width:20%;">
                    <img src="@Server.MapPath("~/Images/LogoCaminos.jpg")" style="width:70%" />
                </div>
                <div style="float:left; width:80%; text-align:center; ">
                    <h3><b>CHECK LIST DE ENTREGAS</b></h3><br />
                </div>


                <div style="width:100%; margin-left: 10px; margin-top:80px;">
                    <b>PLACA: ___________________</b>
                    <b>VEHICULO: __________________</b>
                    <b>ASESOR: _________________</b>
                    <b>FECHA: __________________</b>
                </div>

                <div style="width:100%; margin-left: 10px; margin-top:20px;">
                    <p>
                        Apreciado cliente agradecemos su confianza por elegirnos para la compra de su nuevo vehiculo, nuestro principal objetivo es
                        "TENER CLIENTES FELICES", su opinion "LA HERRAMIENTA MAS IMPORTANTE PARA LOGRARLO", por eso lo invitamos a diligenciar esta encuesta
                        y asi asegurar que la entrega de su vehiculo haya sido un exito.
                    </p>
                </div>

                <div style="width:100%; margin-left: 10px; margin-top:20px;">
                    <b>NOMBRES Y APELLIDOS: _____________________________</b>
                    <b>No. CEDULA: ________________________</b>
                    <b>EMAIL: __________________________</b>
                </div>

                <div style="width:100%; margin-left: 10px; margin-top:10px;">
                    <b>TEL. FIJO Y CELULAR: _____________________________</b>
                    <b>DIRECCION: ________________________</b>
                    <b>CIUDAD: __________________________</b>
                </div>

                <div style="width:100%; margin-left: 10px; margin-top:25px;">
                    <b>1. ¿Por que medio llego a Chevrolet CAMINOS para realizar la compra de su nuevo vehiculo? (Marque con una X)</b>
                </div>
                <div style="width:100%; margin-left: 10px; margin-top:10px;">
                    <p>Web ____ &nbsp;&nbsp;Prensa ____ &nbsp;&nbsp;Radio ____ &nbsp;&nbsp;Email ____ &nbsp;&nbsp;Mensaje Texto ____ &nbsp;&nbsp;Referidos ____ &nbsp;&nbsp;Volantes ____ &nbsp;&nbsp;Otro ____ Cual? _____________</p>
                </div>

                <div style="width:100%; margin-left: 10px; margin-top:25px;">
                    <b>2. ¿Que lo motivo a comprar su vehiculo? _____________________________________________________________________________</b>
                </div>

                <div style="width:100%; margin-left: 10px; margin-top:25px;">
                    <b>3. ¿Le ofrecieron la prueba DEMO durante el proceso de la compra? (Marque con una X)</b>
                </div>
                <div style="width:100%; margin-left: 10px; margin-top:10px;">
                    <p>Si ____ &nbsp;&nbsp;&nbsp;&nbsp;No ____ &nbsp;&nbsp;&nbsp;&nbsp;N/A ____</p>
                </div>

                <div style="width:100%; margin-left: 10px; margin-top:25px;">
                    <b>4. ¿Le hablaron acerca de nuestro programa de mantenimiento preventivo? (Marque con una X)</b>
                </div>
                <div style="width:100%; margin-left: 10px; margin-top:10px;">
                    <p>Si ____ &nbsp;&nbsp;&nbsp;&nbsp;No ____</p>
                </div>

                <div style="width:100%; margin-left: 10px; margin-top:25px;">
                    <b>5. ¿Le ofrecieron accesorios para su vehiculo?</b>
                </div>
                <div style="width:100%; margin-left: 10px; margin-top:10px;">
                    <p>Si ____ &nbsp;&nbsp;&nbsp;&nbsp;No ____</p>
                </div>

                <div style="width:100%; margin-left: 10px; margin-top:25px;">
                    <b>6. ¿Recibi&oacute; informaci&oacute;n satisfactoria acerca del sistema CHEVISTAR CONNECT y los servicios que ofrece? (Marque con una X)</b>
                </div>
                <div style="width:100%; margin-left: 10px; margin-top:10px;">
                    <p>Si ____ &nbsp;&nbsp;&nbsp;&nbsp;No ____ &nbsp;&nbsp;&nbsp;&nbsp;N/A ____</p>
                </div>

                <div style="width:100%; margin-left: 10px; margin-top:25px;">
                    <b>7. ¿Le hablaron sobre la poliza de seguros con la agencia Sano y Salvo? (Marque con una X)</b>
                </div>
                <div style="width:100%; margin-left: 10px; margin-top:10px;">
                    <p>Si ____ &nbsp;&nbsp;&nbsp;&nbsp;No ____</p>
                </div>

                <div style="width:100%; margin-left: 10px; margin-top:25px;">
                    <b>8. ¿Quedo satisfecho con la entrega del vehiculo? (Marque con una X, siendo 10 la calificacion m&aacute;s alta)</b>
                </div>
                <div style="width:100%; margin-left: 10px; margin-top:10px;">
                    <p>1 ____ &nbsp;&nbsp;2 ____ &nbsp;&nbsp;3 ____ &nbsp;&nbsp;4 ____ &nbsp;&nbsp;5 ____ &nbsp;&nbsp;6 ____ &nbsp;&nbsp;7 ____ &nbsp;&nbsp;8 ____ &nbsp;&nbsp;9 ____ &nbsp;&nbsp;10 ____</p>
                </div>

                <div style="width:100%; margin-left: 10px; margin-top:25px;">
                    <b>9. ¿Cu&aacute;l es su nivel de satisfacci&oacute;n con la atenci&oacute;n prestada por el asesor comercial? (Marque con una X, siendo 10 la calificacion m&aacute;s alta)</b>
                </div>
                <div style="width:100%; margin-left: 10px; margin-top:10px;">
                    <p>1 ____ &nbsp;&nbsp;2 ____ &nbsp;&nbsp;3 ____ &nbsp;&nbsp;4 ____ &nbsp;&nbsp;5 ____ &nbsp;&nbsp;6 ____ &nbsp;&nbsp;7 ____ &nbsp;&nbsp;8 ____ &nbsp;&nbsp;9 ____ &nbsp;&nbsp;10 ____</p>
                </div>

                <div style="width:100%; margin-left: 10px; margin-top:25px;">
                    <b>10. ¿Tiene conocimiento de personas que est&eacute;n interesadas en comprar vehiculo? Si su repuesta es s&iacute;, por favor diligencie los siguientes datos.</b>
                </div>
                <div style="width:100%; margin-left: 10px; margin-top:10px;">

                    <table style="border:1px solid; width:100%">
                        <thead>
                            <tr>
                                <th style="width:50%; text-align:center">Nombres Y Apellidos</th>
                                <th style="width:50%; text-align:center">Telefono</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div style="width:100%; margin-left: 10px; margin-top:25px;">
                    <b>11. Observaciones Y Comentarios</b>
                </div>
                <div style="width:100%; margin-left: 10px; margin-top:10px;">
                    <p>____________________________________________________________________________________________________________________</p>
                </div>
                <div style="width:100%; margin-left: 10px; margin-top:10px;">
                    <p>____________________________________________________________________________________________________________________</p>
                </div>

                <div style="width:100%; margin-left: 10px; margin-top:30px; text-align:center">
                    <b>__________________________________________</b>
                </div>
                <div style="width:100%; margin-left: 10px; margin-top:10px; text-align:center">
                    <p>FIRMA</p>
                </div>

            </div>

        </div>
    </div>

}
